name: easy_pdf_viewer
description: A flutter plugin for handling PDF files. Works on both Android & iOS
version: 1.0.8
homepage: https://github.com/kaichii/pdf_viewer

environment:
  sdk: '>=2.12.0 <4.0.0'
  flutter: '>=1.20.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_cache_manager: ^3.1.2
  numberpicker: ^2.1.2
  path_provider: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: dev.kaichi.easy_pdf_viewer
        pluginClass: EasyPdfViewerPlugin
      ios:
        pluginClass: EasyPdfViewerPlugin
